html {
  font-family: "Dosis", sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  display: block;

  background-color: #efeee9;
  color: #392910;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding: .5em;
}

a {
  color: #efeee9;
  font-size: 1rem;
  text-decoration: none;
}

ol {
  margin-block-start: 0;
  margin-block-end: 0;
}

.nav-boxes {
  font-weight: bold;
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.nav-boxes li {
  padding: 1em;
  background-color: #9a816d;
  border: 2px solid #795437;
}

.nav-boxes li:hover {
  background-color: 795437;
}
